<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/248427/pexels-photo-248427.jpeg?cs=srgb&dl=bar-beverage-cold-248427.jpg&fm=jpg);">
  <div class="container">
    <h1>Welcome in <strong>Fred's Lounge Cocktail Bar</strong> !</h1>
    <p>Have a look, Pick a drink & Make it !</p>
<!--     <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>

<div class="cards">

  <% @cocktails.each do |cocktail| %>
    <div class="card">
      <%= link_to cocktail_path(cocktail), style: "width: 100%" do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill unless cocktail.photo.blank? %>')">
          <%= cocktail.name %>
        </div>
      <% end %>
      <%= link_to cocktail_path(cocktail), method: :delete, class: "trash-logo", data: { confirm: "Are you sure you want to delete this item ?"} do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to 'Create', new_cocktail_path %></td>
      </tr>
  </tbody>
</table>
