<div class="container">
  <h1 class="text-center my-3"><%= @cocktail.name.capitalize %></h1>
  <h4 class="mb-3">Ingredients:</h4>
  <ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to dose_path(dose), method: :delete do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </li>
  <% end %>
  </ul>

<%= simple_form_for [@cocktail, @dose] do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-3">
    <%= f.input :description %>
    <%= f.association :ingredient, as: :select %>
    <%= f.button :submit, class: "btn btn-primary"%>
  </div>
<% end %>

<%= link_to "Home", cocktails_path, class: "btn btn-primary" %>

</div>
